{%extends 'navbar.html'%}
{%block content%}
<div class="hero min-h-screen bg-base-300">

  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">Masuk terlebih dahulu untuk dapat mengakses adminpage</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <h2 class="text-center font-bold text-2xl mt-5 text-gray-100">ANTARESTAR</h2>
      <form action="" method="post">
        {%csrf_token%}
      <div class="card-body">
        <div class="form-control">
        {{form.as_p}}
         
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
{%endblock%}