<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Antarestar</title>
     <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
         font-family: "Electrolize", sans-serif;
      }
      p {
        color: white;
      }
      input {
        margin-top: 0.25rem;
        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid #828282;
        background-color: #4b5563;
        color: #111827;
        border-radius: 0.25rem;
        height: 2.25rem;
        border-radius: 10px;
      }

        input:focus {
        color: white;
        border: #4b5563;
        background-color: transparent;
      }
      input:active {
        background-color: transparent;
      }

      @media (min-width: 640px) {
        input {
          font-size: 0.75rem;
        }
      }
      label {
        font-size: 0.8rem;
        font-weight: 600;
        color: #d1d5db;
      }
      select {
        margin-top: 1rem;
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        border: 1px solid #dcdfe3;
        background-color: #4b5563;
        border-radius: 0.25rem;
        height: 2.25rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }

      select:focus {
        outline: none;
        border-color: #667eea;
        box-shadow: 0 0 0 0.125rem #667eea;
      }

      @media (min-width: 640px) {
        select {
          font-size: 0.875rem;
        }
      }
      textarea {
        padding: 2.5px;
        width: 100%;
        font-size: 0.875rem;
        color: #333;
        background-color: #4b5563;
        border-radius: 4px;
      }
      textarea:focus {
        color: white;
        border: #4b5563;
        background-color: transparent;
      }
      div {
  overflow: hidden;
}
#id_nama_suplier{
   margin-top: 5px;
        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid #828282;
        background-color: #4b5563;
        color: white;
        border-radius: 0.25rem;
        height: 2.25rem;
        border-radius: 5px;
}
#id_nama_suplier:focus{
  color: white;
        border: #4b5563;
        background-color: transparent;
}
#id_nomor_wa{

        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid #828282;
        background-color: #4b5563;
        color: white;
        border-radius: 0.25rem;
        height: 2.25rem;
        border-radius: 5px;
}
#id_nomor_wa:focus{
  color: white;
        border: #4b5563;
        background-color: transparent;
}
    </style>
  </head>
  <body>
    <!-- component -->
<div class="w-full max-h-screen  ">
            <dh-component>
                <div class="flex flex-no-wrap">
    <aside class="w-80" aria-label="Sidebar">
      <div
        class="px-3 py-4 overflow-y-auto rounded bg-gray-50 dark:bg-gray-800 h-screen"
      >
        <a href="https://flowbite.com/" class="flex items-center pl-2.5 mb-5">
          {%load static%}
          <!-- <img
            src="{% static 'img/logo-1.png'%}"
            class="w-20 mr-3 h-20"
            alt="Flowbite Logo"
          /> -->
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >Antarestar</span
          >
        </a>
        <div
          class="px-3 py-4 overflow-y-auto rounded bg-gray-50 dark:bg-gray-800"
        >
          <ul class="space-y-2">
            <li>
              <a
                href="{%url 'dashboard' %}"
                class="flex items-center p-2 py-3 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
              >
                <svg
                  aria-hidden="true"
                  class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                  <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                </svg>
                <span class="ml-3">Dashboard</span>
              </a>
            </li>
            <li>
              <button
                type="button"
                class="flex items-center w-full p-2 py-3 text-base font-normal text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                aria-controls="dropdown-example"
                data-collapse-toggle="dropdown-example"
              >
                <svg
                  aria-hidden="true"
                  class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span
                  class="flex-1 ml-3 text-left whitespace-nowrap"
                  sidebar-toggle-item
                  >Preorder</span
                >
                <svg
                  sidebar-toggle-item
                  class="w-6 h-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
              <ul id="dropdown-example" class="hidden py-2 space-y-2">
                <li>
                  <a
                    href="{%url 'tambahpo'%}"
                    class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                    >Tambah Preorder</a
                  >
                </li>
                <li>
                  <a
                    href="{%url 'getappo'%}"
                    class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                    >Approved</a
                  >
                </li>
                <li>
                  <a
                    href="{%url 'preorder'%}"
                    class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                    >Unapproved</a
                  >
                </li>
              </ul>
            </li>
             <li>
              <button
                type="button"
                class="flex items-center w-full p-2 py-3 text-base font-normal text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                aria-controls="dropdown-supplier"
                data-collapse-toggle="dropdown-supplier"
              >
               <?xml version="1.0" encoding="UTF-8" standalone="no"?>


<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
<svg 
class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="30"
   height="30"
   viewBox="0 0 30 30"
   version="1.1"
   id="svg822"
   inkscape:version="0.92.4 (f8dce91, 2019-08-02)"
   sodipodi:docname="people.svg">
  <defs
     id="defs816" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="12.610071"
     inkscape:cx="18.02637"
     inkscape:cy="5.0061764"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="true"
     units="px"
     inkscape:window-width="1366"
     inkscape:window-height="713"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     showguides="true"
     inkscape:snap-global="false">
    <inkscape:grid
       type="xygrid"
       id="grid816" />
  </sodipodi:namedview>
  <metadata
     id="metadata819">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title>

</dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-289.0625)">
    <path
      class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
        fill="currentColor"
       d="m 18.853516,8.5820312 c -1.152452,0.0017 -2.230942,0.5679424 -2.886719,1.5156248 0.245759,0.621718 0.386719,1.293985 0.386719,1.998047 0,0.693735 -0.175104,1.331591 -0.4375,1.929688 0.648969,0.990797 1.753084,1.58837 2.9375,1.589843 1.942893,4.49e-4 3.518031,-1.574688 3.517578,-3.517578 -6.26e-4,-1.942127 -1.575448,-3.516074 -3.517578,-3.5156248 z M 22,16.345703 19.912109,19.611328 c 0.528723,1.153814 0.838621,2.416765 0.875,3.738281 l 0.02148,0.783203 -0.515625,0.587891 C 19.548375,25.571315 18.67911,26.30872 17.728516,26.933594 18.114724,26.97681 18.506361,27 18.904297,27 22.05905,27 24.881454,25.60556 26.806641,23.40625 26.721561,20.31573 24.843996,17.558273 22,16.345703 Z"
       transform="translate(0,289.0625)"
       id="path1013"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccsccccccccccscc" />
    <path
       inkscape:connector-curvature="0"
       id="path1018"
       d="m 10.835941,297.64216 a 3.5167647,3.516759 0 0 0 -3.5167638,3.51676 3.5167647,3.516759 0 0 0 3.5167638,3.51676 3.5167647,3.516759 0 0 0 3.516765,-3.51676 3.5167647,3.516759 0 0 0 -3.516765,-3.51676 z m 3.145856,7.76332 -3.0703,4.80292 -3.1115121,-4.79948 c -2.8464838,1.20791 -4.7285466,3.96325 -4.8183795,7.05412 1.925237,2.20091 4.7480521,3.59746 7.9041346,3.59746 3.154753,0 5.97723,-1.39473 7.902417,-3.59403 -0.08508,-3.09053 -1.962364,-5.84843 -4.80636,-7.06099 z"
       class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
        fill="currentColor" />
  </g>
</svg>
                <span
                  class="flex-1 ml-3 text-left whitespace-nowrap"
                  sidebar-toggle-item
                  >Supplier</span
                >
                <svg
                  sidebar-toggle-item
                  class="w-6 h-6"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
              <ul id="dropdown-supplier" class="hidden py-2 space-y-2">
                <li>
                  <a
                    href="{%url 'tambahsuplier'%}"
                    class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                    >Tambah Supplier</a
                  >
                </li>
                <li>
                  <a
                    href="javascript:void(0)"
                    class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-puzzle"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"
                      ></path>
                    </svg>
                    <span class="text-sm ml-2">Approved Preorder</span>
                  </a>
                  <div
                    class="py-1 px-3 bg-gray-600 rounded text-gray-300 flex items-center justify-center text-xs"
                  >
                </li>
                <li
                  class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6"
                >
                  <a
                    href="javascript:void(0)"
                    class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-compass"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z"></path>
                      <polyline points="8 16 10 10 16 8 14 14 8 16"></polyline>
                      <circle cx="12" cy="12" r="9"></circle>
                    </svg>
                    <span class="text-sm ml-2">Preoder</span>
                  </a>
                </li>
                <li
                  class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6"
                >
                  <a
                    href="javascript:void(0)"
                    class="flex items-center focus:outline-none focus:ring-2 focus:ring-white"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-code"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z"></path>
                      <polyline points="7 8 3 12 7 16"></polyline>
                      <polyline points="17 8 21 12 17 16"></polyline>
                      <line x1="14" y1="4" x2="10" y2="20"></line>
                    </svg>
                    <span class="text-sm ml-2">Deliverables</span>
                  </a>
                </li>
                <li
                  class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6"
                >
                  <path
                    d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"
                  ></path>
                  <path
                    d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"
                  ></path>
                </svg>
                <span class="flex-1 ml-3 whitespace-nowrap">Double Paket</span>
                <span
                  class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium bg-blue-100 text-blue-800 rounded-full dark:bg-blue-900 dark:text-blue-300"
                  >3</span
                >
              </a>
            </li>
            <li>
              <a
                href="{%url 'keluar'%}"
                class="flex items-center p-2 py-3 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
              >
               <?xml version="1.0"?>
<svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:svg="http://www.w3.org/2000/svg" id="svg18832" viewBox="0 0 212.6 212.6" version="1.0"   class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor">
  <g id="layer1" transform="translate(-241.43 -409.02)">
    <path id="path15809" d="m295.02 409.02l-0.44 35.44h124.01v141.73h-124.01v35.43h159.45v-212.6h-159.01z" fill-rule="evenodd"   class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor"/>
    <path id="path15815" d="m400.88 533.04h-88.59l35.44 35.43h-53.15l-53.15-53.15 53.15-53.15h53.15l-35.44 35.44h88.59v35.43z"   class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  fill="currentColor"/>
  </g>
  <metadata>
    <rdf:RDF>
      <cc:Work>
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
        <cc:license rdf:resource="http://creativecommons.org/licenses/publicdomain/"/>
        <dc:publisher>
          <cc:Agent rdf:about="http://openclipart.org/">
            <dc:title>Openclipart</dc:title>
          </cc:Agent>
        </dc:publisher>
        <dc:title>logout mini icon</dc:title>
        <dc:date>2008-02-13T10:43:06</dc:date>
        <dc:description>black, black, clip art, clipart, exit, exit, icon, icon, image, logout, logout, media, mini, mini, png, public domain, sign, sign, svg, </dc:description>
        <dc:source>http://openclipart.org/detail/13849/logout-mini-icon-by-artmaster</dc:source>
        <dc:creator>
          <cc:Agent>
            <dc:title>artmaster</dc:title>
          </cc:Agent>
        </dc:creator>
        <dc:subject>
          <rdf:Bag>
            <rdf:li>black</rdf:li>
            <rdf:li>clip art</rdf:li>
            <rdf:li>clipart</rdf:li>
            <rdf:li>exit</rdf:li>
            <rdf:li>icon</rdf:li>
            <rdf:li>image</rdf:li>
            <rdf:li>logout</rdf:li>
            <rdf:li>media</rdf:li>
            <rdf:li>mini</rdf:li>
            <rdf:li>png</rdf:li>
            <rdf:li>public domain</rdf:li>
            <rdf:li>sign</rdf:li>
            <rdf:li>svg</rdf:li>
          </rdf:Bag>
        </dc:subject>
      </cc:Work>
      <cc:License rdf:about="http://creativecommons.org/licenses/publicdomain/">
        <cc:permits rdf:resource="http://creativecommons.org/ns#Reproduction"/>
        <cc:permits rdf:resource="http://creativecommons.org/ns#Distribution"/>
        <cc:permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks"/>
      </cc:License>
    </rdf:RDF>
  </metadata>
</svg>

                <span class="flex-1 ml-3 whitespace-nowrap">Keluar</span>
              </a>
            </li>
           
          
          </ul>
        </div>
      </div>
      <div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6">
        <!-- Remove class [ border-dashed border-2 border-gray-300 ] to remove dotted border -->
      </div>
    </aside>
    <div class="w-full h-full rounded border-gray-300 p-5">
      {%block content%} {%endblock%}
    </div>
      </dh-component>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
  </body>
</html>
